# Ignore the virual environment folder
venv/

#Ignore Python bytecode
__pycache__/
*.py[cod]


# Ignore any local environment settings
.env


# Ignore data files if there are not needed for versioning
data/

#Ignore IDE settings (if any)
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints


# Ignore log files
*.log


# Ignore temporary files
*.tmp
*.temp